@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-10px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-out forwards;
}

@keyframes scroll-up {
  0% { transform: translateY(0); }
  100% { transform: translateY(-50%); }
}

@keyframes scroll-down {
  0% { transform: translateY(-50%); }
  100% { transform: translateY(0); }
}

.animate-scroll-up {
  animation: scroll-up 40s linear infinite;
}

.animate-scroll-down {
  animation: scroll-down 40s linear infinite;
}

.hover-pause:hover .animate-scroll-up,
.hover-pause:hover .animate-scroll-down {
  animation-play-state: paused;
}
html {
  scroll-behavior: smooth;
}